
@font-face {

  font-family: 'Gilroy';

  src: url('Fonts/Gilroy-Regular.ttf'); 

  /* src: url('Fonts/Gilroy-Regular.eot?#iefix') format('embedded-opentype'), url('Fonts/Gilroy-Regular.woff2') format('woff2'), url('Fonts/Gilroy-Regular.woff') format('woff'), url('assets/fonts/Gilroy-Regular.ttf') format('truetype'); */

  font-weight: normal;

  font-style: normal;

}

@font-face {

  font-family: 'Gilroy Bold';

  src: url('Fonts/Gilroy-Bold.eot'); 

  src: url('Fonts/Gilroy-Bold.eot?#iefix') format('embedded-opentype'), url('Fonts/Gilroy-Bold.woff2') format('woff2'), url('Fonts/Gilroy-Bold.woff') format('woff'), url('Fonts/Gilroy-Bold.ttf') format('truetype');

  font-weight: bold;

  font-style: normal;

}

.App {
  text-align: center;
  font-family: 'Gilroy', sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
